
//basic task colors

$habit: #f4cccc;
$habit-dark: #dbb7b7;

$todo: #c9daf8;
$todo-dark: #b4c4df;

$daily: #d9ead3;
$daily-dark: #c3d2bd;

$completed: #d9d9d9;
$completed-dark: #c3c3c3;

$faded: #989898;
